.card-0 {
  color: white;
  background-color: #21354d;
  border-radius: 20px;
  margin-top: 80px;
  padding: 30px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.temoignages{
  padding : 100px 0;
  .title{
    font-family: 'MonterrastBoldItalic';
}


}