.citnav {
    position : absolute;
    left:0;
    right: 0;
    top : 0;
    padding: 20px 0 20px 0 ;
    display: flex;
    align-items: center;

    .links{
        margin-left: auto;
        .link{
            margin-left: 50px;
            font-weight: 600;
        }
    }
}



$small: 300px;
$medium: 1000px;


  @media screen and (max-width: $small) {
  }
  @media screen and (max-width: $medium) {
    .citnav{
        background-color: #081f37;
        color:white
        .links{
            margin-left: auto;
            .link{
                margin-left: 50px;
                font-weight: 600;
                color:white;
            }
        }
    }
  }
