$hero-bg : url("./../../../assets/bg.png");

.hero {
    background: linear-gradient(0deg, rgba(10, 31,59, 1), rgba(10, 31,59, 0.85)), $hero-bg;
    background-size: cover;
    padding: 5rem;
    height: 100vh;
    display: flex;
    align-items: center;
    .slogancontainer {
        margin : auto;

        .slogan {
            display: inline-block;
            color: white;
            font-size: 47pt;
            font-family: "Monterrast";
            span {
                color: #11bbf5;
            }
        }
        
        .button {
            display: inline-block;
            border-radius: 0;
            margin-top: 50px;
            padding: 5px 20px 5px 20px;
            font-weight: 600;
        }
        
    }
    .imagecontainer {
        display: flex;
        justify-content: flex-end;
    }
    
}

.wepresent {
    background: linear-gradient(180deg, rgba(10, 31,59, 1) 50%, #F9F9F9 50%);

    .rectangle {
        background-color: #07456F;
        text-align: center;
        border-radius: 10px;
        padding: 50px;
        position: relative;
        width: 70%;
    
    }
    .titles {
        color: #f9f9f9;
        font-size: 51px;
        padding-bottom: 10px;
    }
    .lineCircle {
        position: absolute;
        left: -100px;
        top: -70px;
    }
}
