.about_us {
    padding: 200px 0 100px 0 ;
    .abouttitle{
        font-family: 'MonterrastBoldItalic';
        font-size: 81pt;
        padding-bottom: 50px;
    }
    .desc {
        text-justify: inter-word;
        text-align: justify;
    }
    .spancolor{
        color : #11bbf5;
    }
}