.sidebar {
    position: fixed;
    top: 30%;
    left: 50px;
    z-index: 1001;
    .dotslist {
        list-style-type : none;
        text-align : center;
        
        .dotselement {
            padding-top : 20px;
            .unactiveDot {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid grey;
                cursor: pointer;
            }
            .activeDot {
                display: inline-block;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: grey;
                cursor: pointer
            }
        }
    }
    
}
